.form {
  height: 600px;
  width: 600px;
  position: relative;
}
input {
  position:absolute;
left:50%;
top:40%;
transform: translate(-50%,-50%);
border: 1px solid black;
}
.result {
  border: 1px solid  black;
  height: 50px;
  width: 100px;
  margin-top: 20px;
  position:absolute;
left:50%;
top:50%;

transform: translate(-50%,-50%);
}
.Error {
  background: rgb(181, 48, 48);
}